#login-bg {
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

#animated-input {
}

#animated-input::placeholder {
    color: white;
    font-family: "Space Grotesk";
}

@keyframes expand {
    to {
        width: 60%;
    }
}

@keyframes fade {
    from {
        opacity: 0;
    } to {
        opactiy: 1;
    }
}

#fade {
    animation: fade 2s ease-in forwards;
}

#fade-faster {
    animation: fade 1s ease-in forwards;
}