.react-calendar {
  text-align: center;
  width: 27rem;
  height: 18rem;
}

.react-calendar__navigation {
  display: flex;
  justify-content: space-between;
  background-color: #1a4532;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.react-calendar__navigation__label {
  color: #ebc94e;
}

.react-calendar__navigation__label:hover {
}

.react-calendar__navigation__arrow {
  color: white;
}

.react-calendar__tile {
  font-weight: bold;
  height: 2.45rem;
}
