.bookingSection_checkIn_container {
    width: 60rem;
    height: 25rem;
    background-color: #FCF9F2;
    position: absolute;
    left: 20%;
    top: 36.7rem;
    box-shadow: 0.2rem 0.2rem 0.4rem #82817d;
    display: block;
}

.bookingSection_checkIn_title1, .bookingSection_checkIn_title2 {
    font-family: "Space Grotesk";
    font-size: 16px;
    position: relative;
    top: 1rem;
    left: 2rem;
}

.bookingSection_checkIn_title1 {
    color: #094c5b;
    font-weight: bold;
}

.bookingSection_checkIn_options {
    display: flex;
    position: relative;
    top: 2rem;
    left: 2rem;
}

.bookingSection_checkIn_options button {
    width: 15rem;
    height: 2.5rem;
    font-family: "Space Grotesk";
    font-size: 16px;
    margin-right: 3rem;
    border-radius: 12px;
    border: 0;
    cursor: pointer;
}

.bookingSection_checkIn_options button:hover {
    background-color: #094c5b;
    color: #ebc94e;
    transition: background-color 0.5s;
}

.active-button {
    background-color: #094c5b;
    color: #ebc94e;
}

.options_input_reservationCode {
    display: flex;
}

.options_input_reservationCode span {
    position: relative;
    top: 4rem;
}

.options_input_reservationCode label {
    font-family: "Space Grotesk";
}

.options_input_reservationCode input {
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid black;
    position: relative;
    top: 0.8rem;
}

#options_label_familyName {
    position: relative;
}

#options_label_reservationCode {
    position: relative;
}

#options_input_familyName {
    position: relative;
    right: 12rem;
}

.options_input_reservationCode button {
    position: relative;
    top: 8rem;
    width: 9rem;
    height: 3rem;
    font-family: "Space Grotesk";
    font-size: 18px;
    border: 0;
    border-radius: 8px;
    background-color: #ebc94e;
}

.closeTab_section button {
    width: 3.5rem;
    height: 2.2rem;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border: 0;
    background-color: #094c5b;
    cursor: pointer;
}

.closeTab_section {
    position: relative;
    top: 11.7rem;
    left: 26.5rem;
}

.options_input_eTicket {
    display: flex;
}

.options_input_eTicket span {
    position: relative;
    top: 4rem;
    left: 2rem;
}

.options_input_eTicket label {
    font-family: "Space Grotesk";
    font-size: 15px;
}

.options_input_eTicket input {
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid black;
    position: relative;
    top: 0.8rem;
    right: 8rem;
    width: 18rem;
}

.options_input_eTicket button {
    position: relative;
    top: 8rem;
    right: 4rem;
    width: 9rem;
    height: 3rem;
    font-family: "Space Grotesk";
    font-size: 18px;
    border: 0;
    border-radius: 8px;
    background-color: #ebc94e;
}

#options_input_eTicket {
    position: relative;
    right: 7rem;
}

#options_input_familyName_eTicket {
    position: relative;
    right: 11rem;
}

#options_label_familyName_eTicket {
    position: relative;
    right: 5rem;
}

.options_input_flyerNumber {
    display: flex;
}

.options_input_flyerNumber span {
    position: relative;
    top: 4rem;
    left: 2rem;
}

.options_input_flyerNumber label {
    font-family: "Space Grotesk";
    font-size: 15px;
}

.options_input_flyerNumber input {
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid black;
    position: relative;
    top: 0.8rem;
    right: 8rem;
    width: 18rem;
}


#options_label_frequentFlyerNumber {
    position: relative;
    left: 0.5rem;
}

#options_input_frequenFlyerNumber {
    position: relative;
    top: -0.5rem;
    left: 0rem;
}

#options_label_familyName_flyerNumber {
    position: relative;
    left: -0.8rem;
}

#options_input_familyName_flyerNumber {
    position: relative;
    top: -0.5rem;
    left: -1.3rem;
}

#options_label_flyerProgram {
    position: relative;
    left: 0.3rem;
}

#options_input_flyerProgram {
    position: relative;
    top: -0.5rem;
    left: 0rem;
}

#checkin-button {
    position: relative;
    top: 6rem;
    left: 50rem;
    height: 3rem;
    font-family: "Space Grotesk";
    font-size: 18px;
    border: 0;
    border-radius: 8px;
    background-color: #ebc94e;
}