.bookingSectionHeaderContainer {
    position: absolute;
    left: 20%;
    top: 33.25rem;
    display: flex;
    z-index: 20;
}

.bookingSectionHeaderItem {
    display: flex;
    width: 20rem;
    height: 3.5rem;
    background-color: rgba(9, 76, 91, 0.9);
    justify-content: center;
}

.bookingSectionHeaderItem p {
    font-size: 16px;
    font-family: 'Quicksand';
    color: #ebc94e;
    font-weight: bold;
}

.bookingSectionHeaderItem:hover {
    background-color: #fff;
    cursor: pointer;
}

.bookingSectionHeaderItem:hover p {
    color: black;
}

.hoverItem {
    background-color: #fff;
}

.hoverText {
    color: black;
}