.setting-scrollbar::-webkit-scrollbar {
    width: 16px;
}

.setting-scrollbar::-webkit-scrollbar-thumb {
    background: #888; 
}

.setting-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.setting-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.setting-scrollbar::-webkit-scrollbar-button {
    background: #ccc;
    height: 16px;
}

.setting-scrollbar::-webkit-scrollbar-button:hover {
    background: #999;
}

.setting-scrollbar::-webkit-scrollbar-button:vertical:decrement {
    background: url('./arrow-up.png') no-repeat center;
    background-size: contain;
}

.setting-scrollbar::-webkit-scrollbar-button:vertical:increment {
    background: url('./down.png') no-repeat center;
    background-size: contain;
}